.container{
    background-color: #0e0e0e;
    background-image: linear-gradient(90deg, #8000ffa1 ,#0e0e0e);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 6rem;
}

.card{
    height: 25rem;
    width: 80%;
    max-width: 1000px;
    margin-top: 6rem;
    position: relative;
}

.backgroundGlass{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-glass);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid var(--border-glass);
    z-index: 1;
    transform: rotate(var(--deg-glass));
}

.cardContent{
    padding: 2rem;
    position: relative;
    z-index: 2;
}