.logoContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerLogo{
    height: 1.5rem;
    width: 1.5rem;
    font-size: 0.8rem;
    background-color: white;
    color: blueviolet;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.card{
    position: absolute;
    height: 3.5rem;
    width: 2.5rem;
    transform: rotate(var(--card-deg));
    z-index: var(--z-index);
}

.cardInside{
    height: 50%;
    width: 50%;
    background-color: var(--card-color);
}